header{
    background-color: red;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

header h1{
    color: white;
    display: flex;
    justify-content: center;
}

.card{
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.card-title {
    background-color: blue;
    color: white;
}